<style>
  label, label > span { display: block; }
  label { margin: 15px 0; }
</style>

<a href="/">Home</a>

<form action="" method="post">
  <label>
    <span>Client Name</span>
    <input type="text" name="name">
  </label>
  <label>
    <span>Client account number</span>
    <input type="text" name="accountno">
  </label>
  <label>
    <span>email</span>
    <input type="text" name="email">
  </label>
  <label>
    <span>utility</span>
    <input type="text" name="utility">
  </label>
  <button>Submit</button>
</form>
